*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

/.idea/*
/app/build/intermediates
app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
app/build/intermediates/res/resources-debug.ap_
